<div class="sa-sidebar" [ngClass]="sideBarClasses">
  <!--Options-->
  <div class="sa-sidebar__top">
    <!--home-->
    <div
      class="sa-sidebar__icon text-white d-flex justify-content-center align-items-center"
      [class.active]="type === 'home'"
      (click)="navigate('home')"
      title="Home">
      <div class="d-flex align-items-center">
        <span *ngIf="true" class="mr-4 d-inline-block sa-sidebar__text">Home</span>
        <fa-icon class="icon home" [icon]="faHome"></fa-icon>
      </div>
    </div>
    <!--transactions-->
    <div
      class="sa-sidebar__icon text-white d-flex justify-content-center align-items-center"
      *ngFor="let transaction of transactions"
      [class.active]="type === transaction.name"
      (click)="sendOtp(); navigate(transaction.name)"
      title="Transaction 1">
      <div class="d-flex align-items-center">
        <span *ngIf="true" class="mr-4 d-inline-block sa-sidebar__text">{{transaction.name | titlecase}}</span>
        <fa-icon class="icon home" [icon]="transaction.icon"></fa-icon>
      </div>
    </div>
  </div>
  <!--expand button-->
  <div class="sa-sidebar__bottom">
    <div
      class="sa-sidebar__icon bottom-icon text-white d-flex justify-content-center align-items-center"
      [title]="expanded ? 'collapse' : 'expand'">
      <div (click)="toggle()" class="d-flex align-items-center">
        <span *ngIf="true" class="mr-4 d-inline-block sa-sidebar__text text">collapse</span>
        <fa-icon class="icon" [icon]="expanded ? faAngleDoubleLeft : faAngleDoubleRight"></fa-icon>
      </div>
    </div>
  </div>
</div>
