<div class="sa-auth">
  <div class="sa-auth__container">
    <!--logo-->
    <sa-logo *ngIf="authType === 'signin' ||
              authType === 'signup' ||
              authType ==='activate-account' ||
              authType === 'confirm_email'">
    </sa-logo>

    <!--Sign in-->
    <sa-signin *ngIf="authType === 'signin'"></sa-signin>
    <!--sign up-->
    <sa-signup *ngIf="authType === 'signup'"></sa-signup>
    <!--page not found-->
    <sa-page-not-found
      *ngIf=" authType !== 'signin' &&
              authType !== 'signup' &&
              authType !=='activate-account' &&
              authType !== 'confirm_email'">
    </sa-page-not-found>
    <!--Email sent-->
    <div class="text-white" *ngIf="authType === 'activate-account'">
      <h5 class="mt-5 text-center p-2">An email has been sent to <span class="text-blue font-weight-bold">{{email}}</span> to activate account</h5>
    </div>
    <!--Email confirmed-->
    <div class="mt-5" *ngIf="authType === 'confirm_email'">
      <sa-confirm-email></sa-confirm-email>
    </div>
  </div>
</div>

