.sa-signin  {
  width: 320px;
  .form-container {
    padding: 30px 20px;
    //border: solid 1px black;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(52,58,64,.15);
    .header {
      h4 {
        padding: 7px;
      }
    }
  }
}
