form {
  label {
    font-size: 14px;
    font-weight: bolder;
  }

  .form-control {
    &:focus {
      box-shadow: none;
      border-color: $mid-green;
    }
  }

  .is-invalid {
    &:focus {
      border-color: $danger !important;
      box-shadow: none !important;
    }
  }

  .btn  {
    background-color: $mid-green;
    color: $white;
    border: none;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background-color: $dark-green;
      color: $white;
    }
  }

  .disabled {
    cursor: not-allowed !important;
    background-color: $light-green;
    &:hover {
      background-color: $light-green !important;
      color: $white;
    }
  }
}

